{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center title">
            Panel admina
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-primary btn-block" href="\admin\start">Rozpocznij wybory</a>
                        <a class="btn btn-primary btn-block" href="\admin\end">Zakończ wybory i oblicz wyniki</a>
                        <a class="btn btn-primary btn-block" href="\admin\add_candidate">Dodaj kandydata</a>
                        <a class="btn btn-primary btn-block" href="\admin\publish">Opublikuj wyniki</a>
                    </div>
                    <!--<div class="card-footer text-muted text-center">
                        Already have an account? <a href="#">Log in</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}