{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center title">
            Kandydaci
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <h3 class="card-title"></h3>-->
                        {% if publish_results %}
                            <p>Wyniki głosowania:</p>
                            <!-- TODO: print results-->
                        {% elif allow_voting %}
                            <form method="post" novalidate>
                                {% for candidate in candidates %}
                                    <input type="radio" name="candidate" id="{{ candidate.id }}"
                                           value="{{ candidate.id }}">
                                    <label for="{{ candidate.id }}">{{ candidate.name }} {{ candidate.surname }}</label>
                                    <hr>
                                {% endfor %}
                                <label for="code">Kod uprawniający do głosowania</label>
                                <input type="text" id="code" name="code"><br><br>
                                <button type="submit" class="btn btn-primary btn-block">Zagłosuj</button>
                            </form>
                            </div>
                        {% else %}
                            <p>Obecnie nie można głosować.</p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}